{{import "module/head"}}
{{import "module/header"}}

<div class="m-sidebar">
	<ul class="m-sdlist">
		<li><a href="#iconfont-old" title="字体图标库"><img style="width:20px;" src="{{__global.__pub}}sidebar/box.svg" alt=""></a></li>
	</ul>
	<div class="m-usage">
		<code>@import "@{mgui}/iconfont.less";</code>
		<p class="m-tips">字体图标库</p>

		<div class="m-guide m-usage-sub">
			<h3><i></i>使用指南</h3>
		</div>
		<div class="m-changelog m-usage-sub">
			<h3><i></i>Change Log</h3>
			<p><em>2017.4.12</em>初始化、提交JIRA需求</p>
		</div>
	</div>
</div>
<div class="m-content">
	<div class="m-ex" id="ui-blank">
		<div class="m-title">
			<h2>旧版</h2>
			<span>..</span>
		</div>
	</div>
</div>
{{import "module/footer"}}