<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>MGUI - 芒果TV规范化界面组件库</title>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui">
<link rel="shortcut icon" href="http://www.hunantv.com/favicon.ico?" type="image/x-icon">
<link rel="stylesheet" href="css/common.css?" type="text/css">
<link rel="stylesheet" href="css/monokai.css?" type="text/css">
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js?"></script>
<script src="js/rainbow.min.js?"></script>
<script src="js/mgui.js?"></script>
</head>
<body>
<div class="m-top">
	<div class="m-rainbow"></div>
	<div class="m-header">
		<h1 class="m-logo">
			<a class="u-name" href="./index.html">MGUI</a>
			<a class="u-type" href="http://www.mgtv.com" target="_blank"><i></i>MGTV</a>
		</h1>
		<!-- <div class="m-author">
			<a class="u-version" href="./log.html">Ver 1.0</a>
			<a class="u-gitlab" href="http://git.hunantv.com/honey-lab/MgtvUI" target="_blank">Gitlab</a>
		</div> -->
		<div class="m-menu">
			<ul>
				<li>
					<a class="m-menu-item" href="/index.html">快速开始</a>
					<ul class="m-submenu">
						<li><a class="m-submenu-item" href="/index.html">获取与使用</a></li>
						<li><a class="m-submenu-item" href="/log.html">更新日志</a></li>
					</ul>
				</li>
				<li class="">
					<a class="m-menu-item" href="/global.html">基础组件</a>
					<ul class="m-submenu">
						<li><a class="m-submenu-item" href="/global.html">全局变量</a></li>
						<li><a class="m-submenu-item" href="/ui.html">基础元件</a></li>
					</ul>
				</li>
				<li class="disabled">
					<a class="m-menu-item" href="/widget.html">界面组件</a>
					<ul class="m-submenu">
						<li><a class="m-submenu-item" href="/widget.html">界面组件</a></li>
					</ul>
				</li>
				<li>
					<a class="m-menu-item" href="/vi.html">图标库</a>
					<ul class="m-submenu">
						<li><a class="m-submenu-item" href="/vi.html">品牌形象</a></li>
						<li><a class="m-submenu-item" href="/icon.html">界面通用</a></li>
						<li class="disabled"><a class="m-submenu-item" href="/iconfont.html">IconFont</a></li>
					</ul>
				</li>
				<li>
					<a class="m-menu-item" href="/mark.html">角标库</a>
					<ul class="m-submenu">
						<li><a class="m-submenu-item" href="/mark.html">通用角标</a></li>
					</ul>
				</li>
				<li class="disabled">
					<a class="m-menu-item" href="">JS插件库</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="m-submenu-bg"></div>
</div>
<script>var pathname=location.pathname;$(".m-submenu-item, m-menu-item").map(function(a,t){var m=$(this);m.attr("href")==pathname&&m.parents("li").addClass("on")});</script>

<div class="m-sidebar">
	<ul class="m-sdlist">
		<li><a href="#ui-blank" title="透明占位图"><img style="width:20px;" src="http://img.hunantv.com/MGUI/icon/ie.svg?" alt=""></a></li>
		<li><a href="#ui-alpha" title="半透明黑色背景图"><img style="width:20px;" src="http://img.hunantv.com/MGUI/icon/mask2.svg?" alt=""></a></li>
		<li><a href="" title="输入框"><img style="width:20px;" src="http://img.hunantv.com/MGUI/icon/input.svg?" alt=""></a></li>
		<li><a href="" title="按钮"><img style="width:20px;" src="http://img.hunantv.com/MGUI/icon/button.svg?" alt=""></a></li>
		<li><a href="" title="表格"><img style="width:20px;" src="http://img.hunantv.com/MGUI/icon/table2.svg?" alt=""></a></li>
	</ul>
	<div class="m-usage">
		<code>@import "@{mgui}/ui.less";</code>
		<p class="m-tips">通用元件、表单重绘</p>

		<div class="m-guide m-usage-sub">
			<h3><i></i>使用指南</h3>
			<p>将对应html元素添加指定的类名，则获得对应的效果。</p>
			<input class="u-code" type="text" value="<div class="mg-al-b80">mask</div>">
			<p>自该元素将拥有80%黑色半透明背景图平铺的样式。</p>
		</div>
		<div class="m-changelog m-usage-sub">
			<h3><i></i>Change Log</h3>
			<p><em>2017.4.11</em>统一命名规范修订</p>
			<p><em>2017.1.20</em>新增透明/半透明等IE兼容元件、角标等</p>
		</div>
	</div>
</div>
<div class="m-content">
	<div class="m-ex" id="ui-blank">
		<div class="m-title">
			<h2>透明占位图</h2>
			<span>IE scroll兼容用透明背景等</span>
		</div>
		<table class="m-table m-table-ui-ts">
			<tr>
				<th>类名</th>
				<th>预览</th>
				<th>描述</th>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-blank</b></td>
				<td><i class="u-blank"></i></td>
				<td><span>用于PC端处理IE scroll等bug或占位</span></td>
			</tr>
		</table>
	</div>
	<div class="m-ex" id="ui-alpha">
		<div class="m-title">
			<h2>半透明</h2>
			<span>半透明遮罩层应用，处理IE半透明兼容</span>
		</div>
		<table class="m-table m-table-ui-ts">
			<tr>
				<th>类名</th>
				<th>预览</th>
				<th>透明度</th>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-b90</b></td>
				<td><i class="mg-al-b90"></i></td>
				<td><span>黑色透明度90%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-b80</b></td>
				<td><i class="mg-al-b80"></i></td>
				<td><span>黑色透明度80%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-b70</b></td>
				<td><i class="mg-al-b70"></i></td>
				<td><span>黑色透明度70%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-b60</b></td>
				<td><i class="mg-al-b60"></i></td>
				<td><span>黑色透明度60%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-b50</b></td>
				<td><i class="mg-al-b50"></i></td>
				<td><span>黑色透明度50%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-b40</b></td>
				<td><i class="mg-al-b40"></i></td>
				<td><span>黑色透明度40%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-b30</b></td>
				<td><i class="mg-al-b30"></i></td>
				<td><span>黑色透明度30%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-b20</b></td>
				<td><i class="mg-al-b20"></i></td>
				<td><span>黑色透明度20%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-b10</b></td>
				<td><i class="mg-al-b10"></i></td>
				<td><span>黑色透明度10%</span></td>
			</tr>
		</table>
		<table class="m-table m-table-ui-ts">
			<tr>
				<th>类名</th>
				<th>预览</th>
				<th>透明度</th>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-w90</b></td>
				<td><i class="mg-al-w90"></i></td>
				<td><span>白色透明度90%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-w80</b></td>
				<td><i class="mg-al-w80"></i></td>
				<td><span>白色透明度80%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-w70</b></td>
				<td><i class="mg-al-w70"></i></td>
				<td><span>白色透明度70%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-w60</b></td>
				<td><i class="mg-al-w60"></i></td>
				<td><span>白色透明度60%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-w50</b></td>
				<td><i class="mg-al-w50"></i></td>
				<td><span>白色透明度50%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-w40</b></td>
				<td><i class="mg-al-w40"></i></td>
				<td><span>白色透明度40%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-w30</b></td>
				<td><i class="mg-al-w30"></i></td>
				<td><span>白色透明度30%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-w20</b></td>
				<td><i class="mg-al-w20"></i></td>
				<td><span>白色透明度20%</span></td>
			</tr>
			<tr>
				<td><b class="u-class">.mg-al-w10</b></td>
				<td><i class="mg-al-w10"></i></td>
				<td><span>白色透明度10%</span></td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>