{{import "module/head"}}
{{import "module/header"}}

<div class="m-sidebar">
	<ul class="m-sdlist">
		<li><a href="">分页</a></li>
		<li><a href="">加载中</a></li>
		<li><a href="">弹窗</a></li>
		<li><a href="">切换</a></li>
		<li><a href="">关注</a></li>
		<li><a href="">气泡</a></li>
		<li><a href="">提醒</a></li>
		<li><a href="">面包屑</a></li>
		<li><a href="">菜单</a></li>
		<li><a href="">选项卡</a></li>
		<li><a href="">进度条</a></li>
		<li><a href="">标签</a></li>
	</ul>
</div>
<div class="m-content">

</div>
{{import "module/footer"}}