{{import "module/head"}}
{{import "module/header"}}

<div class="m-sidebar">
	<ul class="m-sdlist">
		<li><a href="#mark-video" title="视频角标"><img style="width:22px;" src="{{__global.__img}}sidebar/mark.svg" alt=""></a></li>
	</ul>
	<div class="m-usage">
		<code>@import "@{mgui}/mark.less";</code>
		<p class="m-tips">全站角标索引</p>

		<div class="m-guide m-usage-sub">
			<h3><i></i>使用指南</h3>
			<p>新版角标由后端提供文字数据与背景色。</p>
			<input class="u-code" type="text" value="<i class='i-mark-video'>独播</i>">
		</div>
		<div class="m-changelog m-usage-sub">
			<h3><i></i>Change Log</h3>
			<p><em>2017.4.12</em>web5.0新版角标索引</p>
		</div>
	</div>
</div>
<div class="m-content">
	<div class="m-ex">
		<div class="m-title">
			<h2>频道</h2>
			<span>频道页面角标一览</span>
		</div>
		<table class="m-table m-table-mark">
			<tr>
				<th>颜色</th>
				<th>预览</th>
				<th>备注</th>
			</tr>
			<tr>
				<td>#07B85A</td>
				<td>
					<i class="i-mark-video" style="background-color:#07B85A">首发</i>
					<i class="i-mark-video" style="background-color:#07B85A">专题</i>
					<i class="i-mark-video" style="background-color:#07B85A">特辑</i>
					<i class="i-mark-video" style="background-color:#07B85A">策划</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#1EBBC3</td>
				<td>
					<i class="i-mark-video" style="background-color:#1EBBC3">预告</i>
					<i class="i-mark-video" style="background-color:#1EBBC3">饭拍</i>
					<i class="i-mark-video" style="background-color:#1EBBC3">饭制</i>
					<i class="i-mark-video" style="background-color:#1EBBC3">1905</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#0080FF</td>
				<td>
					<i class="i-mark-video" style="background-color:#0080FF">高清</i>
					<i class="i-mark-video" style="background-color:#0080FF">蓝光</i>
					<i class="i-mark-video" style="background-color:#0080FF">1080P</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#FF5F00</td>
				<td>
					<i class="i-mark-video" style="background-color:#FF5F00">独家</i>
					<i class="i-mark-video" style="background-color:#FF5F00">独播</i>
					<i class="i-mark-video" style="background-color:#FF5F00">连载</i>
					<i class="i-mark-video" style="background-color:#FF5F00">彩蛋</i>
					<i class="i-mark-video" style="background-color:#FF5F00">自制</i>
					<i class="i-mark-video" style="background-color:#FF5F00">付费点播</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#E84440</td>
				<td>
					<i class="i-mark-video" style="background-color:#E84440">HOT</i>
					<i class="i-mark-video" style="background-color:#E84440">LIVE</i>
					<i class="i-mark-video" style="background-color:#E84440">付费直播</i>
					<i class="i-mark-video" style="background-color:#E84440">免费首播</i>
					<i class="i-mark-video" style="background-color:#E84440">直播中</i>
					<i class="i-mark-video" style="background-color:#E84440">VIP用券</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#E4B659</td>
				<td>
					<i class="i-mark-video" style="background-color:#E4B659">VIP免费</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#B362F2</td>
				<td>
					<i class="i-mark-video" style="background-color:#B362F2">活动</i>
					<i class="i-mark-video" style="background-color:#B362F2">花絮</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#4F5980</td>
				<td>
					<i class="i-mark-video" style="background-color:#4F5980">未播</i>
					<i class="i-mark-video" style="background-color:#4F5980">已结束</i>
				</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="m-ex">
		<div class="m-title">
			<h2>底层</h2>
			<span>底层页面角标一览</span>
		</div>
		<table class="m-table m-table-mark">
			<tr>
				<th>颜色</th>
				<th>预览</th>
				<th>备注</th>
			</tr>
			<tr>
				<td>#E4B659</td>
				<td>
					<i class="i-mark-video" style="background-color:#E4B659">VIP</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#FF9702</td>
				<td>
					<i class="i-mark-video" style="background-color:#FF9702">荐</i>
					<i class="i-mark-video" style="background-color:#FF9702">推荐</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#1EBBC3</td>
				<td>
					<i class="i-mark-video" style="background-color:#1EBBC3">预</i>
					<i class="i-mark-video" style="background-color:#1EBBC3">预告</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#07B85A</td>
				<td>
					<i class="i-mark-video" style="background-color:#07B85A">新</i>
					<i class="i-mark-video" style="background-color:#07B85A">最新</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#B362F2</td>
				<td>
					<i class="i-mark-video" style="background-color:#B362F2">花絮</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#6284FF</td>
				<td>
					<i class="i-mark-video" style="background-color:#6284FF">看点</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#FE7432</td>
				<td>
					<i class="i-mark-video" style="background-color:#FE7432">正片</i>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>#F0C600</td>
				<td>
					<i class="i-mark-video" style="background-color:#F0C600">广告</i>
				</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
{{import "module/footer"}}