/*颜色*/
.mg-color-base {
  color: #FF5F00;
}
.mg-color-hover {
  color: #FF7624;
}
.mg-color-title {
  color: #333;
}
.mg-color {
  color: #666;
}
.mg-color-desc {
  color: #999;
}
.mg-color-border {
  color: #ddd;
}
.mg-color-bg {
  color: #f1f1f1;
}
