/*字号*/
.mg-fz-26 {
  font-size: 26px;
}
.mg-fz-24 {
  font-size: 24px;
}
.mg-fz-22 {
  font-size: 22px;
}
.mg-fz-18 {
  font-size: 18px;
}
.mg-fz-16 {
  font-size: 16px;
}
.mg-fz-14 {
  font-size: 14px;
}
.mg-fz-12 {
  font-size: 12px;
}
